<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ANDALAS.ttf</string>
		<string>dirtyoldtown.ttf</string>
		<string>CHICORY_.TTF</string>
		<string>FLATS.ttf</string>
		<string>OGYIGO.ttf</string>
		<string>PRAY FOR PARIS.ttf</string>
	</array>
</dict>
</plist>
